.app {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.btn-filter-active {
  background-color: #0f2dcd;
  border: 2px solid #0f2dcd;
  border-radius: 3px;
  color: white;
}

.error {
 outline: none;
  border: 2px solid red;
}

.error-message {
  color: red;
}
